/*body {
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:first-child {
    border-bottom: 2px solid black;
}

tr {
    background-color: #cccccc;
}

input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid black;
    text-align: center;
    font-size: 35px;
    height: 100px;
}

button {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: dodgerblue;

    color: white;
    font-size: 18px;
}*/




/* new stylesheet code */

.table {
    margin-bottom: 0rem;
}

th {
    text-align: center;
}

thead th {
    font-size: 3rem;
}

.form-control{
    text-align: center;
    height: 6rem;
    
    font-size: 200%;
    font-weight: 600;
    color: black;
}

#calcBtn {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    border: 0px;
    font-size: 3rem;
}

#weightUnitBtn, #fluidUnitBtn {
    width: 100%;
    height: 100%;
}

.dropdown .btn {
    padding: 20px;
    margin: 0px;
}
.customAlert {
    margin-top: 2rem;
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
    
    font-size: 1.7rem;
    box-shadow: 0px 5px 10px rgba(0,0,0, .6);
}





















